#feedback {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 420px; /* Adjust width as needed */
    background-color: transparent; /* Ensure the background of #feedback is transparent */
  }
  
  #feedback-form {
    background-color: #fff; /* White background */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%; /* Adjust height as needed */
    padding: 10px; /* Add padding inside the panel */
    box-shadow: 0 5px 10px rgba(0,0,0,.2); /* Optional: Add box-shadow for a better look */
  }
  
  #feedback-tab {
    position: absolute;
    right: -60px; /* Adjust position as needed */
    top: 50%; /* Center vertically */
    transform: translateY(-50%) rotate(-90deg); /* Rotate and center the tab */
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 42px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 5px;
    border-radius: 3px;
    z-index: 1001; /* Ensure it's above #feedback-form */
  }
  
  #feedback-tab:hover {
    background-color: rgba(0,0,0,0.4);
  }
  