#feedback {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 450px;
    margin-left: -3px;
    margin-bottom: -3px;
  }
  
  #feedback-form {
    float: left;
    width: 300px;
    height: 100%;
    z-index: 1000;
    box-sizing: border-box; 
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 10px; /* Added padding to match existing style */
    background-color: #fff; /* Set background color to white */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  }
  
  #feedback-tab {
    float: right;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    margin-left: -42px;
    padding-top: 5px;
    border-radius: 3px;
    transform: rotate(90deg);
  }
  
  #feedback-tab:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #feedback-form textarea {
    resize: none;
  }